---
title: "Guided Link Traversal Query Processing over RDF documents fragmented with TREE"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Bryan-Elliott Tam', 'https://github.com/constraintAutomaton', '' %>
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>

{:#affiliations}
- {:#myaffiliation} IDLab, Department of Electronics and Information Systems, Ghent University – imec

</header>
<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section 'abstract' %>
<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %>
  <%= section 'guided_link_traversal' %>
  <%= section 'conclusion' %>
</main>

<footer></footer>
